html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
.header{
    background: url('../img/background-planet.jpg') no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.nav{
    position: absolute;
    width: 50%;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    left: 25%;
    top: 45%;
    transition: width 0.5s, left 0.5s, border-radius 0.5s;
}
.nav_sticky{
    z-index: 100;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
}
.main{
    width: 100%;
}
.main__article{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 530px;
    text-align: center;
}

.main__article-about{
    background-color: rgb(190, 203, 219);
}
/*rgb(62, 144, 216);*/
.main__article-travels{
    background-color: rgb(32, 114, 186);
    padding-bottom: 150px;
}
.main__article-questions{
    background-color: rgb(190, 203, 219);
}
.main__article-contact{
    background: url('../img/background-space-earth.jpg') no-repeat fixed center;
    background-size: cover;
    padding: 0;
    min-height: 600px;
}
.nav__ul{
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav__ul li{
    display: block;
    float: left;
    width: 25%;
    margin: 0;
}
.nav__link{
    text-align: center;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    display: block;
    height: 30px;
    width: 100%;
}
.nav__link:hover{
    outline: 1px solid white;
    background-color: white;
    background-color: rgba(0,0,0,0.8);
}
.nav__link:focus{
    outline: 1px solid white;
    background-color: rgba(0,0,0,0.8);
}
@keyframes fade-in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.header__heading{
    margin-top: 0;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5%;
}
.header__sub-title{
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    margin-top: 5px;
    color: white;
    text-align: center;
}
.header__link-logo{
    display: block;
    position: fixed;
    top: 30px;
    left: 10px;
}
.header__logo{
    height: 80px;
    position: fixed;
    top: 60px;
    left: 10px;
    transition: 0.3s;
}
.header__logo:hover{
    transform: scale(1.1,1.1);
}
.header__link-logo:focus{
    outline: none;
}
.header__link-logo:focus .header__logo{
    transform: scale(1.1,1.1);
}
.footer{
    min-height: 500px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    background-color: rgb(215, 224, 46);
    background-color: black;
}
.main__heading{
    margin: 0;
    padding-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5em;
}
.main__heading-about{
    color: rgb(32, 114, 186);
}
.main__heading-section{
    text-align: center;
}
.main__section{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border: 1px solid rgb(22, 104, 176);
    vertical-align: top;
    text-align: justify;
    min-height: 250px;
    width: 24%;
    margin-right: 1%;
    display: inline-block;
    padding: 1%;
    color: rgba(210, 210, 210, 0.95);
    background-color: rgb(32, 114, 186);
}
.main__footer-social-media{
    margin-top: 5%;
}
.main__social-media-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main__social-media-list li{
    display: inline-block;
}
.main__favicon{
    color: rgb(32, 114, 186);
    font-size: 2em;
    margin: 20px;
    transition: 0.2s;
}
.main__favicon:hover{
    color: rgb(2, 84, 156);
    border-bottom: 1px solid rgb(2, 84, 156);
}
.main__favicon:focus{
    color: rgb(2, 84, 156);
    border-bottom: 1px solid rgb(2, 84, 156);
    outline: none;
}
.main__header-travel{
    color: rgb(200, 213, 229);
}
.main__travel-section{
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    width: 45%;
    text-align: justify;
}
.main__travel-figure{
    margin: 0;
    height: 100%;
    width: 50%;
}
.main__image-sphare_right{
    height: 100%;
    float: right;
}
.main__image-sphare_left{
    height: 100%;
    float: left;
}
.main__travel-figure_right{
    float: right;
}
.main__travel-figure_left{
    float: left;
}
.main__travel-description_right{
    float: right;
}
.main__travel-description_left{
    float: left;
}
.main__travel-description{
    width: 46%;
    background-color: rgb(190, 203, 219);
    color: rgba(0,0,0,0.8);
    padding: 10px 5px 5px 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.main__heading-travel-description{
    margin-top: 0;
    text-align: center;
    font-size: 1.5em;
}
.main__link-travel{
    text-align: center;
    display: block;
    vertical-align: bottom;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    color: rgba(0,0,0,0.6);
    transition: 0.2s;
}
.main__link-travel:hover{
    text-decoration: underline;
    color: rgba(0,0,0,0.7);
}
.main__link-travel:focus{
    text-decoration: underline;
    color: rgba(0,0,0,0.7);
    outline: none;
}
.main__list-question{
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 30%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.main__list-question-element{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: black;
    text-align: left;
    padding: 10px 5px 10px 5px;
    display: block;
    width: 80%;
    background-color: rgb(32, 114, 186);
    border: 1px solid rgb(22, 104, 176);
    margin-bottom: 2px;
    transition: 0.2s;
    cursor: pointer;
}
.main__list-question-element_active{
    margin-left: 5%;
}
.main__list-question-element:hover{
    border: 1px solid rgba(72, 154, 226, 0.5);
    background-color: rgba(72, 154, 226, 0.7);
}
.main__list-question-element:focus{
    border: 1px solid rgba(72, 154, 226, 0.5);
    background-color: rgba(72, 154, 226, 0.7);
    outline: none;
}
.main__question-article{
    color: rgba(0,0,0,0.9);
    animation: fade-in;
    animation-duration: 1s;
    display: inline-block;
    text-align: justify;
    width: 30%;
}
.main__question-article_hidden{
    display: none;
    visibility: hidden;
}
.main__heading-questions{
    margin-bottom: 100px;
    color: rgba(0,0,0,0.9);
}
.main__heading-question-article{
    text-align: center;
    margin-top: 0;
}
.main__header-contact{
    padding-top: 50px;
    color: white;
    margin-bottom: 50px;
}
.main__form-contact{
    color: white;
    margin: 0 auto;
}
.main__label-contact{
    display: block;
    margin-bottom: 5px;
}
.main__article-contact-container{
    min-height: 600px;
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    width: 70%;
}
.main__input, .main__textarea, .main__input-submit{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    background-color: white;
    border: 1px solid rgb(72, 154, 226);
}
.main__input:focus{
    background-color: rgb(92, 174, 246);
    outline: none;
    color: black;
}
.main__textarea:focus{
    background-color: rgb(92, 174, 246);
    outline: none;
    color: black;
}
.main__textarea{
    outline: none;
    height: 100px;
}
.main__input-submit{
    border: 1px solid rgb(21, 153, 209);
    transition: 0.3s;
    cursor: pointer;
}
.main__input-submit:hover{
    background-color: rgb(41, 173, 229);
    color: black;
}
.main__input-submit:focus{
    background-color: rgb(41, 173, 229);
    color: black;
    outline: none;
}
.footer__section-info{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer a:focus{
    text-decoration: underline;
    outline: none;
}
.footer__section-partners, .footer__section-links{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.footer__list{
    list-style-type: square;
    width: 60%;
    text-align: left;
    float: right;
}
.footer__heading{
    margin-bottom: 2px;
    width: 60%;
    float: right;
    padding: 5px;
    text-align: left;
}
@keyframes fade-in-up {
    0%{opacity: 0; transform: translateY(15%);}
    100%{opacity: 1;}
}
.fade-in-animation{
    animation-name: fade-in-up;
    animation-duration: 1s;
}
